<h2>test - {{ selectedCard }}</h2>
<div class="place">
    <div class="card-wrap" *ngFor="let item of cards">
        {{ item.opened }}
        <app-card [cardName]="item.name" (cardSelected)="selectedCard = item.name"></app-card>
    </div>    
</div>

<div>
    <input type="text" #cardsAmount>
    <button (click)="getAmount(cardsAmount.value); cardsAmount.value = '';">Столько карточек!</button>
</div>

<h3>test2 - {{ selectedUser?.name }}</h3>
<div *ngFor="let i of users">
    <app-user-card [user]="i" (userSelected)="selectedUser = i"></app-user-card>
</div>
